@page "/chat"
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer

<PageTitle>Chat</PageTitle>

<div style="text-align: end">
    <button type="button" 
        class="btn btn-primary"
        @onclick="NewChat">
        Start New Chat
    </button>
</div>
<div style="height: 90vh; background-color: lightslategray">
    @foreach (string c in Chats.activeChat)
    {
        <div>@c</div>
        <br />
    }

</div>
<div style="height: 50px; text-align: end;">
    <EditForm FormName="Message" Model="message" OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <div>
            <InputText style="width: 70%" id="message" @bind-Value="message.message" />
        </div>
    </EditForm>
</div>

@code {
    private Message message = new Message();

    private void OnSubmit() {
        Chats.activeChat.Add(message.message);
        message.message = "";
    }

    private void NewChat() { Chats.NewChat(); }
}
