@page "/home"

<div class="centerTextDiv">
    <h2>Home Page</h2>
    <p>Welcome to our chat bot website.</p>
    <p>Click Chat to start a new chat</p>
    <p>or</p>
    <p>Click History to view/contunie a previous chat.</p>
</div>

@code {

}
