body {
    background-image: url('Images\Background.jpg'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-family: Courier New;
    color: blue;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

.button-link {
    background: none;
    border: none;
    width: 80%;
}

img {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}
