body {
    background-image: linear-gradient(to bottom, #808080ff, #404040);
    background-size: cover;
    font-family: Courier New;
    color: blue;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

.button-link {
    background: none;
    border: none;
    width: 80%;
}

img {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}
