body {
    background-image: linear-gradient(to bottom, #808080ff, #404040);
    background-size: cover;
    font-family: Courier New;
    font-family: Tahoma, Verdana, sans-serif;
}

.centerTextDiv {
    text-align: center;
}

.button-link {
    background: none;
    border: none;
    width: 80%;
}

.chatbox {
    height: 90vh;
    background-color: lightslategray;
    overflow: scroll;
}

.end {
    text-align: end;
}

.centerd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}
